html{
    color: #6c5b7b;
}
body{
    background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #355c7d, #6c5b7b, #c06c84); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #355c7d, #6c5b7b, #c06c84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.jumbotron {
    background:#F5D5E4;
    color: #6c5b7b;
}

    
#headtext{
    text-align: right;
}
#searchbtn{
    align-content:  left; 
}
.input-group.mb-3{
    width: 0 auto;
    
}
.form-control{

    border-radius: 40px;
    width: 25%;
}
/*  search button */
#addInput{
    background:#F5D5E4;
    color: #6c5b7b;
}

#buttonarea{
    padding:20px 50px;
    text-align: center;
}
button.searchGif{
    color: #6c5b7b;;
    margin: 3px;
    border: 2px solid rgb(219, 209, 214);
    margin-bottom: 10px;
    text-transform: uppercase;
    background:#F5D5E4;
    border-radius: 10px;
    padding-left:5px;
    padding-right:5px;
}

#gifarea{

    margin-top: 10px;
    text-align: center;
    display: inline-block;
    color:#F5D5E4;
    text-transform: uppercase;
}


img.gif{
    margin: 10px;
    width: 200px;
    height: 200px;

}


.rateingClass{
    font-weight: bolder;
    font-size: 50px;
    color: #C197D2 ;
    padding: 10px;
    display:none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
    
  img:hover + div {
    display: inline-flex;
  }


.fixed-bottom{
    background:#F5D5E4;
    color: #6c5b7b;;
    text-align: center; 
    font-size: 12px;
    margin-top
}
