html{
    text-align: center;
    color: grey;
    background: yellow;
}
body{
    background: pink;
}

.container-fluid{
    background:rgb(216, 211, 211);
    margin: auto;
    border: 5px solid green;
}
button{
    background: rgb(204, 156, 137);
    border-radius: 6px;
}
#headtext{
    text-align: right;
}
#searchbtn{
    align-content:  left; 
}
.input-group.mb-3{
    width: 0 auto;
    margin-left: 200 px;
}

#button-addon2{

}
.btn.btn-outline-secondary{
    
}
#buttonarea{
    padding:20px 50px;
    text-align: center;
}

#gifarea{
    border: 1px  rgb(201, 178, 168) solid  ;
    text-align: center;
    padding: 10px 50px;
    border-radius: 1px;
    margin:5px;
}
.fixed-bottom{
    background: rgb(201, 178, 168);
    color: white;
    text-align: center; 
}
