html{
    background:#211522
    color: #211522;
}
body{
    background:#211522;

}
.jumbotron {
    background: #D3B1C2;
    color: #211522;

}
.container-fluid{
    background:#211522;

}
p{
 display: inline-block;
}
button{
    background:#D3B1C2;
    border-radius: 6px;
}
#headtext{
    text-align: right;
}
#searchbtn{
    align-content:  left; 
}
.input-group.mb-3{
    width: 0 auto;
    
}
#addInput{
    background: #D3B1C2;
    color: #211522;
}
button.searchGif{
    margin: 3px;
    border: 2px solid white;
    text-transform: uppercase;

}
#buttonarea{
    padding:20px 50px;
    text-align: center;

}

#gifarea{
    text-align: center;
    border: 3px  #613659 solid  ;
    padding: 10px 50px;
    border-radius: 1px;
    margin:20px 20px 40px 20px ;
    display: inline-block;
    background:#211522;
    color: #D3B1C2;
    text-transform: uppercase;
}
.gifbox{
   
}
.fixed-bottom{
    background:#D3B1C2;
    color: white;
    text-align: center; 
}
.ratingClass{
display: inline block;
text-align: center;
}

/* 


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
    width: 250px;
  }

  .container:hover .centered {
      opacity: 1;
  }
   */